<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirate Website</title>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav>
      <% if session[:pirate_id] %>
        <a href="/sign-out">Sign Out</a>
      <% else %>
        <a href="/sign-in">Sign In</a>
      <% end %>
    </nav>

    <%= yield %>

    <footer>
      Footer
    </footer>
  </body>
</html>
