<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirate Website</title>
  </head>
  <body>
    <nav>
      Navigation
    </nav>

    <%= yield %>

    <footer>
      Footer
    </footer>
  </body>
</html>
