<form method="post" action="/sign-in">
  <label for="name">Name</label>
  <input type="text" name="[pirate]name">

  <label for="password">Password</label>
  <input type="password" name="[pirate]password">

  <input type="submit">
</form>
